<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
<!--      <class name="com.xamplify.playwright.tests.VendorLoginTest"/>
-->      <!--<class name="com.xamplify.playwright.tests.PartnerLoginTest"/>-->
<class name="com.xamplify.playwright.tests.AddContactsTest"/>


    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
